# Dependencies
node_modules/
/backend/node_modules/
/backend-new/node_modules/

# Database file
/backend/ecofinance.db
/backend-new/dev.db

# Misc
.DS_Store
npm-debug.log*

# Frontend
/frontend-react/logs
/frontend-react/*.log
/frontend-react/npm-debug.log*
/frontend-react/yarn-debug.log*
/frontend-react/yarn-error.log*
/frontend-react/pnpm-debug.log*
/frontend-react/lerna-debug.log*

/frontend-react/node_modules
/frontend-react/dist
/frontend-react/dist-ssr
/frontend-react/*.local

# Editor directories and files
/frontend-react/.vscode/*
/frontend-react/!.vscode/extensions.json
/frontend-react/.idea
/frontend-react/.DS_Store
/frontend-react/*.suo
/frontend-react/*.ntvs*
/frontend-react/*.njsproj
/frontend-react/*.sln
/frontend-react/*.sw?

frontend-react/frontend.xml
/backend-new/backend.xml
/frontend-react/frontend.xml